.inputSliderContainer {
    display: flex;
    flex-direction: column;
    width: 230px;
    /* border: 2px solid purple; */
}
.inputSilderTitlesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputSlider {
    min-width: 230px;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 10px;
}

.labelContainer {
    position: relative;
    bottom: 10px;
    text-align: center;
    color: #606060;
    font-size: 12px;
}